/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: hsl(20, 75%, 60%);
  --first-color-alt: hsl(20, 95%, 48%);
  --title-color: hsl(24, 35%, 14%);
  --text-color: hsl(25, 25%, 20%);
  --body-color: hsl(42, 100%, 97%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(24, 35%, 14%);
  --border-color: hsl(30, 25%, 88%);
  --shadow-color: hsla(20, 60%, 20%, .12);
  --shadow-img: drop-shadow(0 16px 24px hsla(20, 60%, 20%, .18));

  /*========== Font & Typography ==========*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Archivo Black", sans-serif;

  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font Weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive Typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title,
.section-subtitle {
  text-align: center;
  font-family: var(--second-font);
}

.section-title {
  font-size: var(--big-font-size);
  margin-bottom: 1rem;
}

.section-subtitle {
  display: block;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: .25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.nav-toggle,
.nav-close {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav-menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 3.5rem;
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
    transition: top .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  transition: color .3s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Shadow header */
.shadow-header {
  box-shadow: 0 8px 24px hsla(24, 35%, 14%, .2);
}

/* Active link */


/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
}

.home-container {
  padding-block: 3rem 1rem;
  row-gap: 3rem;
}

.home-title {
  margin-bottom: 1rem;
  font-size: var(--bigger-font-size);
}

.home-description {
  margin-bottom: 2rem;
}

.home-image {
  justify-self: center;
}

.home-img {
  filter: var(--shadow-img);
  width: 300px;
}

/*=============== BUTTON ===============*/
.btn {
  display: inline-block;
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition: box-shadow .2s;
}

.btn:hover {
  box-shadow: 0 12px 24px hsla(24, 35%, 14%, .3);
}

/*=============== ABOUT ===============*/


/*=============== PRODUCTS ===============*/


/*=============== WHY US ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152, 2048 x 1536) */

